<a href="https://colab.research.google.com/github/cioccia-guilherme/case_petlove/blob/main/case_data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Preparação do Ambiente de Análise

Para esta análise, o conjunto de dados do case foi disponibilizado em uma pasta no google drive.

In [2]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

# Importação dataset bruto

In [3]:
import pandas as pd
import numpy as np

In [4]:
path = r"/content/drive/MyDrive/Documentos/case_petlove/"

In [5]:
df_case_raw = pd.read_csv(
    path + r"data-test-analytics.csv"
    , sep = ','
    )

# Exploração inicial do dataset

Visualização básica

In [6]:
df_case_raw.head()

,id,created_at,updated_at,deleted_at,name_hash,email_hash,address_hash,birth_date,status,version,city,state,neighborhood,last_date_purchase,average_ticket,items_quantity,all_revenue,all_orders,recency,marketing_source
0,8bf7960e-3b93-468b-856e-6c6c5b56f52b,08/15/17 07:05 AM,01/14/21 11:23 AM,NaN,312d206168a318614897e8ccac43bff9,83eb3aed9a44377df80ce876dce92c9a,8b4bfaa0cbc41a16f46da15ddcd6a907,07/10/74 12:00 AM,active,2.31.7,Peixoto da Praia,AM,Aparecida 7ª Seção,01/14/21 11:23 AM,151.142942,10,906.857651,6,35,crm
1,a39535b5-4647-4680-b4f6-3aed57c1f1ff,12/31/19 09:53 PM,01/08/21 11:23 AM,NaN,de448fcb47d0d6a873b2eef52b5ee595,72678bb35e2ac84ed373e81dd9dca28c,22f1cfa1847f38da3f3cb114dd2b9247,07/06/40 12:00 AM,paused,3.30.12,Fernandes,RR,Santa Isabel,01/08/21 11:23 AM,236.991790,4,236.991790,1,41,organic_search
2,dc067cd2-c021-42bd-8c0e-beb267280e66,03/07/19 11:46 PM,01/07/21 11:23 AM,NaN,cb09e447ddc38283373d56bb46498e6a,668f4ee9add29c7bd02c485f1b7509e3,6cb47446a086ee6483b3eb954f11467a,03/18/63 12:00 AM,active,3.28.9,Lopes,RR,Estrela,01/07/21 11:23 AM,211.955597,13,2331.511572,11,42,organic_search
3,b5e4caeb-3a9b-49ed-aa33-5acd06b162c1,07/21/18 10:17 AM,01/10/21 11:23 AM,NaN,52593437a405b11b3557170680ef80c8,d3fb45188d95c8d7cc49da5b4f727c86,0a6f0c54db1e6f19347f96b50f8092a4,11/21/80 12:00 AM,active,3.34.3,Campos do Campo,PE,Confisco,01/10/21 11:23 AM,204.113227,8,1224.679359,6,39,organic_search
4,d4ff61fc-f008-4e19-b8ae-bd70cfa3ae27,06/08/18 12:09 PM,01/18/21 11:23 AM,NaN,dbda4b778a966c21904238ed2d2005db,a0f76bc49b4c43327b536da6e1a1465e,143b9f169b4fa1692f6d79b5682169b5,07/07/59 12:00 AM,active,3.19.8,das Neves,RJ,Vila Suzana Segunda Seção,01/18/21 11:23 AM,252.940997,9,2023.527980,8,31,crm

Tamanho (linhas x colunas)

In [7]:
df_case_raw.shape

(10000, 20)

Tipos das colunas

In [8]:
df_case_raw.dtypes

id                     object
created_at             object
updated_at             object
deleted_at             object
name_hash              object
email_hash             object
address_hash           object
birth_date             object
status                 object
version                object
city                   object
state                  object
neighborhood           object
last_date_purchase     object
average_ticket        float64
items_quantity          int64
all_revenue           float64
all_orders              int64
recency                 int64
marketing_source       object
dtype: object

Tipos das colunas de data deve ser convertido de "object" para "datetime". 
- Colunas afetadas: ['created_at','updated_at', 'deleted_at','birth_date','last_date_purchase']

# Conversão de tipo das colunas de data

A coluna 'birth_date' precisa ser convertida com uma correção no ano devido ao 'parse' de datas do pandas to_datetime().

In [9]:
df_case_raw['birth_date'] = pd.to_datetime(df_case_raw['birth_date'], format='%m/%d/%y %I:%M %p')

In [10]:
from datetime import datetime

In [12]:
df_case_raw['birth_date'] = np.where(
    df_case_raw['birth_date'].dt.year > datetime.today().year
    , df_case_raw['birth_date'] - pd.offsets.DateOffset(years=100)
    , df_case_raw['birth_date']
    )

As outras colunas de data ['created_at', 'updated_at',   'deleted_at', 'last_date_purchase'] podem ser convertidas para o tipo datetime normalmente.

In [13]:
df_date_columns = ['created_at','updated_at','deleted_at','last_date_purchase']

In [14]:
df_case_raw[df_date_columns] = df_case_raw[df_date_columns].apply(
    pd.to_datetime , format='%m/%d/%y %I:%M %p'
    )

In [15]:
df_case_processed = df_case_raw

Checando os tipos das colunas após conversão de tipo:

In [16]:
df_case_processed.dtypes

id                            object
created_at            datetime64[ns]
updated_at            datetime64[ns]
deleted_at            datetime64[ns]
name_hash                     object
email_hash                    object
address_hash                  object
birth_date            datetime64[ns]
status                        object
version                       object
city                          object
state                         object
neighborhood                  object
last_date_purchase    datetime64[ns]
average_ticket               float64
items_quantity                 int64
all_revenue                  float64
all_orders                     int64
recency                        int64
marketing_source              object
dtype: object

# Insights preliminares

# Exportação dataset processado

Exportando o dataset com os tipos convertidos em formato ".csv" para ser analisado com Power BI:

In [18]:
#df_case_processed.to_csv(path + r"data_test_analytics_processed.csv", index = False)